.slick-slide {
  outline:none;
}

.slick-slide a {
  outline:none;
}

/* custom slick arrows */
.slick-slider-container
{
    margin:0 auto;
    position:relative;
}

@media screen and (min-width:768px)
{
    .slick-slider-container
    {
        padding-left:60px;
        padding-right:60px;
    }
}

.slick-slider-container .arrow {
    position:absolute;
    top:0px;
    padding-top:60px;
    height:100%;
    align-items:flex-start;
    display:flex;
    /*visibility:hidden;*/
    cursor:pointer;
    font-size:1em;
    /*color:#24A9A7;*/
    color:#FF8A00;
}

@media screen and (min-width:576px)
{
  .slick-slider-container .arrow {
    font-size:2em;
  }
}

@media screen and (min-width:768px)
{
  .slick-slider-container .arrow {
    padding-top:0px;
    /*visibility:visible;*/
    align-items:center;
    font-size:3em;
  }
}

.slick-slider-container .arrow:hover {
    color:#24A9A7;
}


.slick-slider-container .arrow-left {
    left:0;
}

.slick-slider-container .arrow-right {
    right:0;
}

@media screen and (min-width:768px) {
  .slick-slide img {
    margin:auto;
    max-width:90%;
  }
}