@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html {  
  font-size:16px;
}

body {
  font-family:'Roboto', sans-serif;
	color:#333;
}

.container {
  margin-left:auto;
  margin-right:auto;
  display:block;
	position:relative;
}

@media screen and (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

h1, h2, h3, .h1, .h2, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
	font-size:2rem;
	color:#24a9a7;
	text-transform:uppercase;
	
}

h2 {
	font-size:1.5rem;
	color:#24a9a7;
	font-weight:bold;
}

h3 {
	font-size:1.25rem;
	color:#888888;
}


.button {  
  -webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	transition:all 0.4s;
}

.button-primary {
	clear:both;
}

.button-primary,
.button-primary:visited {
  text-decoration:none !important;
  border:1px solid #ff7800;
  color:#FFF !important;
  width:140px;
  /*background:#ffa700;*/
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa700+0,ff7800+100 */
  background: #ffa700; /* Old browsers */
  background: -moz-linear-gradient(top, #ffa700 0%, #ff7800 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffa700 0%,#ff7800 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffa700 0%,#ff7800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa700', endColorstr='#ff7800',GradientType=0 ); /* IE6-9 */
}

.button-primary:hover
{
  text-decoration:none;
  color:#FFF;
}

@media screen and (min-width:576px)
{
	.button-primary:hover
	{
  	width:160px;
	}
}

header.desktop {
	background-color:rgba(36,169,167,0.9);
  font-size:0.875rem;
  width:100%;  
  display:none;
}

@media screen and (min-width:768px) {
	header.desktop {
		display:block;
	}
}

header.mobile {
  font-size:0.875rem;
  width:100%;  
  display:block;
}

@media screen and (min-width:768px) {
	header.mobile {
		display:none;
	}
}

header.mobile .container {
	max-width:100%;
	padding:0;
}

a.brand:active,
a.brand:link,
a.brand:visited,
a.brand:hover {
	text-decoration:none !important;
}

header.mobile .branding {
	background-color:rgba(36,169,167,0.9);
	padding:20px 20px 0 20px;
}

header.mobile .navigation-container {
	background-color:rgba(36,169,167,0.9);
}

.branding .name {
  color:#FFF;
  /*font-family: 'Crimson Text', serif;*/
  font-family: 'Architects Daughter', cursive;
  /*margin-bottom:0;*/
  margin-top:0;
  margin-bottom:0;
  text-align:center;
  font-size:1.8em;
	text-transform:uppercase;
	text-align:center;
	display:block;
	line-height:1em;
}

@media screen and (min-width:768px)
{
  .branding .name {
    text-align:left;
  }
}

.branding .slogan
{
  color:#005352;
  display:block;
  font-size:1.25em;
  text-align:center;
  margin-bottom:0;
	line-height:1em;
}

@media screen and (min-width:768px)
{
  .branding .slogan {
    text-align:left;
  }
}

nav {
  text-align:center;
	background-color:rgba(36,169,167,0.9);
}

@media screen and (min-width:768px) 
{
  nav {
    text-align:right;
    margin-top:0;
		background-color:transparent;
  }
}

ul.menu {
  margin:0;
  padding:15px 0;
  font-size:1.25em;
}

@media screen and (min-width:768px) {
	ul.menu {
		padding:0;
	}
}

.menu li {
  display:inline-block;
}

.menu li a {
	cursor: pointer;
  color:#FFF !important;
  padding:5px 10px;
  display:block;
  text-decoration:none !important;
  border-radius:5px;
  
  -webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	transition:all 0.4s;
}

.menu li a:hover {
  background:#008684;
}

.menu li a.current {
	background:#008684;
	pointer-events:none;	
}

.main-container {
  display:block;
  position:relative;
  /*top:95px;*/
}

.projects {
  padding:0em 0 3em 0;
}

@media screen and (min-width:768px) {
	.projects {
		background:url('../img/projects-bg.jpg') no-repeat center center;
  	background-size:cover;
	}
}

.projects .project
{
  text-align:center;
}

.about {
  /*background-color:#E9E9E9;*/
	padding:3em 0 3em 0;
}

.about .page-title {
	text-align:center;
}

.skill .type {
	text-transform:uppercase;
}

.skill .range {
	background:#999;
	border:1px solid #999;
	width:100%;
	float:none;
	clear:both;
}

.skill .level {
	/*background:#49fff4;*/
	background:#ffd076;
	width:90%;
}

.skill .range-labels {
	font-size:0.75rem;
	color:#666;
}

.skill .range-labels .beginner {
	float:left;
}

.skill .range-labels .advanced {
	float:right;
}

.education .history {
	margin-top:15px;
	margin-bottom:15px;
	font-size:0.875rem;
}

.education .history .location {
	font-weight:bold;
	color:#666;
}

.education .history .degree {
	font-style:italic;
	font-weight:bold;
	font-size:1.15em;
}

.contact {
	background-color:#EEEEEE;
  /*background-color:#FFA700;*/
	padding:3em 0 4em 0;
}

.contact .section-title {
  color:#24A9A7; 
  text-align:center;
}

.contact-content {
	width:100%;
	max-width:260px;
	margin:auto;
}

.contact .photo {
	margin:40px 0;
	border-radius:5px;
	overflow:hidden;
}

.contact .photo img {
	border-radius:5px;
}

.contact .icon {
	font-size:1.25em;
	vertical-align:middle;
}

.contact a {
	display:block;
	font-weight:bold;
	text-decoration:none;	
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	transition:all 0.4s;
}

.contact a:active,
.contact a:link,
.contact a:visited {
	display:block;
	padding:10px;
	color:#FF8100;
	border:1px solid #EEEEEE;
}

.contact a:hover {
	border-radius:5px;
	border:1px solid #FF8100;
  text-decoration:none;
}

.contact img {
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	transition:all 0.4s;
}

.contact a:hover img {
	-webkit-transform:scale(1.25,1.25);
	-ms-transform:scale(1.25,1.25);
	-moz-transform:scale(1.25,1.25);
	transform:scale(1.25,1.25);
}

.contact a.image-link:active,
.contact a.image-link:link,
.contact a.image-link:visited {
	padding:0;
	border:none;
}

.quote {
  padding:3em 0 3em 0;
	text-align:center;
	font-size:1rem;
	color:#999;
	position:relative;
}

@media screen and (min-width:576px) {
	.quote {
		font-size:1.25rem;
	}
}

@media screen and (min-width:768px) {
	.quote {
		font-size:1.5rem;
	}
}

.quote .text-large {
	font-size:2.5em;
}

.quote .text-medium {
	font-size:1.5em;
}

.quote .text-color {
	color:#24A9A7;
}

.quote .author {
	text-transform: uppercase;
	font-size:1rem;
	margin-top:1em;
}

.quote-content {
	position:relative;
	z-index:9999;
	font-weight:bold;
}

.quote-bg {
	z-index:999;
}

.quote .icon {
	font-size:3rem;
	position:absolute;
	color:#EEE;
}

@media screen and (min-width:768px) {
	.quote .icon {
		font-size:5rem;
	}
}

@media screen and (min-width:992px) {
	.quote .icon {
		font-size:10rem;
	}
}

.icon-quote-left {
	top:0;
	left:0;
}

.icon-quote-right {
	bottom:0;
	right:0;
}

footer {
  background-color:#24A9A7;
	padding:2.25em 0;
}

footer .container {
	display:flex;
	align-items:center;
	justify-content:center;
}

footer .copyright {
	color:#FFF;
}

.bold {
	font-weight:bold;
}

.center {
	text-align:center;
}

.invisible {
	visibility:hidden;
}

/***** Project Page *****/

.project-title {
	
}
