<div class="main-container">
  <div class="projects">       
    <div class="container">              
      <div class="slick-slider-container">
        <slick init-onload="true" data="projects" fade="false" dots="true" prev-arrow=".arrow-left" next-arrow=".arrow-right" infinite="true" speed="500" slides-to-show="1" slides-to-scroll="1">
          <div class="project" ng-repeat="project in projects">            
              <img class="img-responsive display" ng-src="{{ project.display }}">
            <h3 class="project-name" ng-bind="project.name"></h3>
            <p class="project-role">
              <strong>MY ROLE: </strong><span ng-bind="project.role"></span>
            </p>
            <div class="project-links">
              <a ng-show="project.gallery && !project.website && !project.video" ng-click="openGalleryModal($index)" class="button button-primary">View Gallery</a>
              <a ng-show="project.website" ng-href="{{ project.website }}" target="_blank" class="button button-primary">View Site</a>
              <a ng-show="project.video" class="button button-primary" ng-click="openVideoModal($index)">Watch Demo</a>
              <a ng-show="project.report" class="button button-primary" ng-href="{{ project.report }}" target="_blank">Read Research</a>
            </div>         
          </div><!-- end .project -->
        </slick><!-- end slick -->
        
        <div class="arrow arrow-left"><i class="icon icon-left-open-big"></i></div>
        <div class="arrow arrow-right"><i class="icon icon-right-open-big"></i></div>
      </div><!-- end .slick-container -->
    </div>            
  </div><!-- end .projects -->

  <div class="about">
    <div class="container">
      <h2 class="section-title">About Me</h2>

      <div class="grid-row">
        <div class="grid-col-sm-6 skills">
          <h3 class="subsection-title"><i class="icon icon-tools"></i> skills</h3>                  

          <div class="grid-row skill" ng-repeat="skill in skills">
            <div class="grid-col-md-4 grid-col-sm-5">
              <br ng-show="$first"><span class="type" ng-bind="skill.type"></span>
            </div>                    
            <div class="grid-col-md-8 grid-col-sm-7">
              <div class="range-labels" ng-show="$first">
                <span class="beginner">beginner</span>
                <span class="advanced">advanced</span>
              </div>
              <div class="range">
                <div class="level" style="width:{{ skill.level }}%">&nbsp;</div>
              </div>                      
            </div>
          </div><!-- end .skill -->
        </div><!-- end .skills-container -->
        
        <div class="grid-col-sm-6 education">
          <h3 class="subsection-title"><i class="icon icon-graduation-cap"></i> education</h3>

          <div class="history" ng-repeat="history in education">
            <span class="date" ng-bind="history.date">May 2014</span>
            <br><span class="location" ng-bind="history.location">Indiana University (Indianapolis, IN)</span>
            <br><span class="school" ng-bind="history.school">School of Informatics and Computing</span>
            <br><span class="degree" ng-bind="history.degree">Master of Science in Human-Computer Interaction</span>
          </div>
        </div>
      </div><!-- end .grid-row -->
    </div>
  </div><!-- end .about -->

  <div class="contact">
    <div class="container">
      <h2 class="section-title">Contact Me</h2>

      <div class="contact-links">               
        <a href="#">
          <i class="icon icon-linkedin-circled"></i><span>linkedin.com/in/kpmanuel</span>
        </a>
        <a href="#">
          <i class="icon icon-mail-circled"></i><span>geminipinai@yahoo.com</span>
        </a>
      </div>
    </div>
  </div><!-- end .contact -->

  <div class="quote">
    <div class="container">
      <span><span class="text-color text-large">UI</span> is the <span class="text-medium">saddle</span>, the <span class="text-medium">stirrups</span>, and the <span class="text-medium">reigns</span>.
      <span class="text-color text-large">UX</span> is the  feeling you get being able to <span class="text-medium">ride the horse</span>, and <span class="text-medium">rope your cattle</span>.</span>          
      <p class="author">Dain Miller</p>
    </div>
  </div><!-- end .quote -->
</div><!-- end .main-container -->