<div class="main-container">
  <div id="projects" class="projects">       
    <div class="container">            
      <!--<h2 class="section-title"><span>Projects</span></h2>-->
      
      <!-- SLICK -->
      <div class="slick-slider-container">
        <slick data="projects" init-onload="true" autoplay="true" autoplay-speed="5000" speed="1000" fade="true" dots="true" prev-arrow=".arrow-left" next-arrow=".arrow-right" infinite="true">
          <div class="project" ng-repeat="project in projects">            
            <img class="img-responsive display" ng-src="{{ project.display }}">
            <h2 class="project-name" ng-bind="project.name"></h2>
            <p class="project-role">
              <strong>My Role: </strong><span ng-bind="project.role"></span>
            </p>
            <div class="project-links">
              <a ng-show="project.gallery && !project.website && !project.video" ng-click="openGalleryModal($index)" class="button button-primary">View Gallery</a>
              <a ng-show="project.website" ng-href="{{ project.website }}" target="_blank" class="button button-primary">View Site</a>
              <a ng-show="project.video" class="button button-primary" ng-click="openVideoModal($index)">Watch Demo</a>
              <a ng-show="project.report" class="button button-primary" ng-href="{{ project.report }}" target="_blank">Read Research</a>
            </div>         
          </div><!-- end .project -->
        </slick><!-- end slick -->
        
        <div class="arrow arrow-left"><i class="icon icon-left-open-big"></i></div>
        <div class="arrow arrow-right"><i class="icon icon-right-open-big"></i></div>
      </div><!-- end .slick-container -->
    </div>            
  </div><!-- end .projects -->
</div><!-- end .main-container -->