
.icon-globe:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-tools:before { content: '\e802'; } /* '' */
.icon-mail-circled:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-left-open-big:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-down-open-big:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e84a'; } /* '' */
.icon-award:before { content: '\e86f'; } /* '' */
.icon-down-circle:before { content: '\e88e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */